# Dependencies
/node_modules

# Environment variables
.env

# Build artifacts
/build
/dist

# Firebase specific files
.firebase
.firebase-debug.log
firebase-debug.log

# Local configuration files
*.local
package-lock.json
package.json
